h1,
h2 {
    font-family: $font-headings;
    color: getColour(dark-grey);
}

.container__heading{
        display: flex;
        align-items: center;
        justify-content: center;
}

h1{
    //top: 0; left: 0; bottom: 0; right: 0;
    font-size:34px;
}

h2 {
    margin-top: 2em;
}

p {
    font-size: 0.9em;
    margin: 2.4em 0;
}
